body {
    font-family:Helvetica;
    /* background-color: rgb(134, 103, 75); */
    color: rgb(18, 16, 15);
}

.container, #wordContainer, #resultContainer {
   
    min-width: 5em;
    min-height: 1.5em;
    margin: 0.5em;
}
.container {
    border: 2px solid black; 
    border-radius: 10px;
    font-size: large;
    padding: 20px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;  
}

 #wordContainer {
    background-color: blanchedalmond;    
    border: 1px dashed black;
}

input {
    font-size: large;
}

.correct {
    border: none;
    background-color: green;
    color: white;
}

.wrong {
    border: none;
    background-color: red;
    color: white;
}

.finalScore {
    background-color: blue;
    font-weight: bold;
    color: white;
}