body {
    font-family:Helvetica;
    /* background-color: rgb(134, 103, 75); */
    color: rgb(18, 16, 15);
    text-align: center;
}

.container, #wordContainer, #resultContainer {
   
    min-width: 5em;
    min-height: 1.5em;
    margin: 0.5em;
}
.container {
    border: 1px solid black; 
    border-radius: 3px;
    font-size: large;
    padding: 20px;
    text-align: center;
    display: flex;
    /* flex-direction:column; */
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;  
}

 #wordContainer {
    background-color: blanchedalmond;    
    border: 1px dashed black;
    
}

#vocabularyCreator {
    text-align: center;
}

button {
    margin: 1em 0em;
} 
#startTestBtn {
    background-color: blue;
    color: white;
}
h3 {
    text-decoration: underline;
}
li {
    list-style-type: none;;
}
span {
    display: block;
    text-align: center;
    width: 100%;
   
    margin-bottom: 2em;
}

input, button {
    font-size: large;
}
#resultContainer {
    border: none;
    display: block;
    width: 50%;
}
.correct {
    border: none;
    background-color: green;
    color: white;
}

.wrong {
    border: none;
    background-color: red;
    color: white;
}

.finalScore {
    background-color: blue;
    font-weight: bold;
    color: white;
}

#bottom-section { 
     text-align: center;
}

#bottom-container {
    display: flex;
    justify-content: center;
}
